{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
    .row
    {
        background-color: rgba(0, 0, 0, 0.7);
	  color:rgb(255, 255, 255);
    }
    </style>
<div class="row">
    <div class="col-md-4 mx-auto mt-5 mb-5">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="d-grid gap-2 my-3">
                <input type="submit" value="login" class="btn btn-success">
            </div>
        </form>
        <a href="{% url 'password_reset' %}" class="btn " style="color:aqua ; background-color: brown;">Lost password?</a>
    </div>
</div>
{% endblock content %}